@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
    }
}
/* 
sidebar : rgb(37,43,59)
primary : rgb(255,255,255)
secondary: rgb(241,245,247)
text-primary : rgb(52,58,64)
text-secondary : rgb(149,156,161)

sidebar-text-primary: rgb(128,139,160)
on:hover : 
*/